.trust-container {
    display: flex;
    background-color: #F5F5F5;
    padding: 90px 80px;
}

.trust-partition {
    display: flex;
    gap: var(--spacing-large);
    align-items: center; /* Center items vertically */
}

.trust-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trust-title {
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    width: 70%;
    margin-bottom: 20px; /* Add spacing */
}

.trust-paragraphy {
    font-size: var(--font-size-large);
    color: gray;
    text-align: start;
    width: 80%;
    line-height: 1.6; /* Improve readability */
}

.trust-img {
    width: 30rem;
    max-width: 100%; /* Ensure image doesn't overflow */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .trust-container {
        padding: 70px 60px; /* Reduce padding */
    }

    .trust-title {
        width: 70%; /* Adjust title width */
    }

    .trust-paragraphy {
        width: 90%; /* Adjust paragraph width */
    }

    .trust-img {
        width: 25rem; /* Reduce image size */
    }
}

@media (max-width: 768px) {
    .trust-container {
        padding: 10px 20px;
    }
    .trust-partition {
        flex-direction: column; /* Stack items vertically */
        gap: var(--spacing-medium); /* Reduce gap */
    }

    .trust-title {
        width: 90%; /* Full width for smaller screens */
        font-size: 20px; /* Increase font size for small screens */
        text-align: start; /* Ensure text is left-aligned */
    }

    .trust-paragraphy {
        width: 90%; /* Full width for smaller screens */
        font-size: 16px; /* Increase font size for small screens */
        text-align: start; /* Ensure text is left-aligned */
    }

    .trust-img {
        width: 100%; /* Full width for smaller screens */
        max-width: 35rem; /* Limit maximum width */
        margin-top: 2rem; /* Add spacing */
    }
}

@media (max-width: 480px) {
    .trust-container {
        padding: 30px 20px; /* Reduce padding for mobile */
    }

    .trust-title {
        font-size: 24px; /* Further increase font size for mobile */
    }

    .trust-paragraphy {
        font-size: 16px; /* Further increase font size for mobile */
    }

    .trust-img {
        max-width: 15rem; /* Further reduce image size */
    }
}