.partiners-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    margin-left: 5rem;
}

.partiner-title {
    font-size: var(--font-size-large);
    color: gray;
    text-align: start;
    width: 25%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.partiners-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    width: 100%;
    margin-bottom: 50px;
}

.partner-img {
    max-width: 140px;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .partiner-title {
        width: 40%; /* Adjust title width for smaller screens */
    }

    .partiners-logo img {
        width: 120px; /* Reduce logo size */
        margin: 0 10px; /* Reduce spacing */
    }
}

@media (max-width: 768px) {
    .partiners-container {
        margin: 0;
    } 
    .partiner-title {
        width: 60%; /* Adjust title width for tablets */
        margin: 20px;
    }

    .partner-img {
        max-width: 40px;
        width: 100%;
    }

    .partiners-logo {
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
    .partiner-title {
        width: 80%; /* Adjust title width for mobile */
        font-size: var(--font-size-medium); /* Reduce font size */
    }

    .partiners-logo img {
        width: 80px; /* Reduce logo size for mobile */
        margin: 0 10px; /* Reduce spacing for mobile */
    }
}