/* Contact Wrapper */
.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    color: #fff;
    padding: 1rem 4rem;
    min-height: 90vh;
  }
  
  /* Left Section - Contact Form */
  .contact-form-section {
    width: 80%;
    padding: 1rem;
  }
  
  .contact-form-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-label {
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .form-input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #000;
  }
  
  .form-textarea {
    resize: vertical;
    width: 93%;
  }
  
  
  .contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96.5%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #242323; /* Blue button */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-submit-btn:hover {
    background-color: #f0f0f0;
  }
  
  /* Right Section - Contact Information */
  .contact-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 1rem;
  }
  
  .contact-info-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .contact-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .contact-info-content p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }